<div class="row clearfix">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">MEDIDAS CORRECTIVAS</li>
            </ol>
        </nav>
    </div>
</div>
<p>Medidas correctivas que ha tomado en los casos de grado <span class="custom-badge status-red">Deficiente</span> Seleccione las acciones realizadas: </p>
<div class="row clearfix">
    <div class="col-md-6">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkbox"> 1. Repaso en horas de clase
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkbox"> 2. Repaso con horas adicionales de clase
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkbox"> 3. Ejercicios propuestos para resolver en casa
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkbox"> 4. Entrega de material de repaso
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkbox"> 5. Recomendacion de bibliografia
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkbox"> 6. Otros(Detalle en la descripcion)
            </label>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="form-group">
            <label>Describa otras medidas correctivas y/o recomendaciones</label>
            <div class="form-group">
                <textarea rows="3" cols="5" class="form-control" placeholder="Escriba aquí"></textarea>
            </div>
        </div>
    </div>
</div>
