@model List<PortafolioEPIS.Models.Tbl_Docente>
    @using PortafolioEPIS.Models

    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Docentes</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <div class="form-check form-check-inline">
                <a href="~/Docente/Index" class="btn btn btn-outline-primary btn-rounded"><i class="fa fa-table"></i> Cambiar Vista</a>
            </div>
            <div class="form-check form-check-inline">
                <a href="~/Docente/Agregar" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Agregar Docente</a>
            </div>
        </div>
    </div>
    <div class="row doctor-grid">
        @foreach (var s in Model)
        {

            <div class="col-md-4 col-sm-4  col-lg-3">
                <div class="profile-widget">
                    <div class="">
                        <a class="avatar" href="~/Docente/Ver/@s.Codigo_Docente"><img src="~/Imagen/@s.Foto_Docente" width="200px"></a>
                    </div>
                    <div class="dropdown profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="~/Docente/Agregar/@s.Codigo_Docente"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                            <a class="dropdown-item" href="~/Docente/Eliminar/@s.Codigo_Docente" ><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                        </div>
                    </div>
                    <h4 class="doctor-name text-ellipsis"><a href="~/Docente/Ver/@s.Codigo_Docente"> @(s.Nombres_Docente + " " + s.Apellidos_Docente)</a></h4>
                    @{
                        var objTbl_Profesion = new Tbl_Profesion();
                        try
                        {
                            using (var db = new Modelo_Portafolio())
                            {
                                objTbl_Profesion = db.Tbl_Profesion
                                    .Where(x => x.Codigo_Profesion == s.Codigo_Profesion)
                                    .SingleOrDefault();

                                <div class="doc-prof">@(objTbl_Profesion.Nombre_Profesion)</div>
                            }
                        }
                        catch (Exception ex)
                        {
                            throw;
                        }

                    }

                    <div class="user-country">
                        <i class="fa fa-envelope"></i> @(s.Correo_Docente)
                    </div>
                </div>
            </div>
        }


        </div>
