@model List<PortafolioEPIS.Models.Tbl_Docente>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Docentes</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="form-check form-check-inline">
            <a href="~/Docente/Index2" class="btn btn btn-outline-primary btn-rounded"><i class="fa fa-table"></i> Cambiar Vista</a>
        </div>
        <div class="form-check form-check-inline">
            <a href="~/Docente/Agregar" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Agregar Docente</a>
        </div>
    </div>
</div>
<div class="row filter-row">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <label class="focus-label">Código</label>
            <input type="text" class="form-control floating">
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <label class="focus-label">Nombre</label>
            <input type="text" class="form-control floating">
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus select-focus">
            <label class="focus-label">Estado</label>
            <select class="select floating">
                <option>Seleccionar Estado</option>
                <option>Activo</option>
                <option>Inactivo</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="btn btn-success btn-block"> Buscar </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombres y Apellidos</th>
                        <th>Fecha Nacimiento</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th class="text-center">Estado</th>
                        <th class="text-right">Accción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>234062</td>
                        <td>
                            <a class="avatar" href="~/Docente/Ver"><img alt="" src="~/assets/img/doctor-thumb-04.jpg"></a>

                            <h2><a href="~/Docente/Ver">Enrique Lanchipa Valencia <span>Ingeniero de Sistemas</span></a></h2>
                        </td>
                        <td>26/02/1968</td>
                        <td>elanchipa@upt.pe</td>
                        <td>96568686</td>
                        <td><span class="custom-badge status-red">Inactivo</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="~/Docente/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>234000</td>
                        <td>
                            <a class="avatar" href="~/Docente/Ver"><img alt="" src="~/assets/img/doctor-thumb-03.jpg"></a>

                            <h2><a href="~/Docente/Ver">Liliana Vega Bernal <span>Ingeniero de Sistemas</span></a></h2>
                        </td>
                        <td>11/02/1968</td>
                        <td>elanchipa@upt.pe</td>
                        <td>96560006</td>
                        <td><span class="custom-badge status-green">Activo</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="~/Docente/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

