<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Detalle Carga Académica <strong>2016-I</strong></h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="form-check form-check-inline">
            <a href="~/DetalleCargaAcademica/Agregar" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Agregar Detalle Carga Académica</a>
        </div>
    </div>
</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Ciclo I</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Ciclo II</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Ciclo III</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-toggle="tab">Ciclo IV</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab5" data-toggle="tab">Ciclo V</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab6" data-toggle="tab">Ciclo VI</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab7" data-toggle="tab">Ciclo VII</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab8" data-toggle="tab">Ciclo VIII</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab9" data-toggle="tab">Ciclo IX</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab10" data-toggle="tab">Ciclo X</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>                                                
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">ING-101</a></td>
                                                <td>Matemática I</td>
                                                <td>Obligatorio</td>
                                                <td>Silvia Marlene Centella Vildoso</td>                                                
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">ING-202</a></td>
                                                <td>Matemática II</td>
                                                <td>Obligatorio</td>
                                                <td>Nelida Brigida Maquera Cardenas</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">SI-371</a></td>
                                                <td>Matemática Discreta</td>
                                                <td>Obligatorio</td>
                                                <td>Silvia Marlene Centella Vildoso</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">SI-471</a></td>
                                                <td>INTRODUCCION AL DESARROLLO WEB</td>
                                                <td>Obligatorio</td>
                                                <td>Tito Fernando Ale Nieto</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">SI-571</a></td>
                                                <td>DISEÑO DE BASE DE DATOS</td>
                                                <td>Obligatorio</td>
                                                <td>Oliver Santana Carbajal</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">SI-671</a></td>
                                                <td>BASE DE DATOS I</td>
                                                <td>Obligatorio</td>
                                                <td>Carlos Alberto Ruiz Cancino</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab7">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">SI-771</a></td>
                                                <td>BASE DE DATOS II</td>
                                                <td>Obligatorio</td>
                                                <td>Patrick Jose Cuadros Quiroga</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">ING-02</a></td>
                                                <td>Matemática II</td>
                                                <td>Obligatorio</td>
                                                <td>Javier Alca</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">ING-02</a></td>
                                                <td>Matemática II</td>
                                                <td>Obligatorio</td>
                                                <td>Javier Alca</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="bottom-tab10">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Código</th>
                                                <th>Asignatura</th>
                                                <th>Tipo</th>
                                                <th>Docente</th>
                                                <th>Seccion</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-right">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="~/DetalleCargaAcademica/Ver">SI-071</a></td>
                                                <td>TALLER DE LIDERAZGO Y EMPRENDIMIENTO</td>
                                                <td>Obligatorio</td>
                                                <td>Liliana Mercedes Vega Bernal</td>
                                                <td>A</td>
                                                <td><span class="custom-badge status-green">Activo</span></td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Ver"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                            <a class="dropdown-item" href="~/DetalleCargaAcademica/Agregar"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                            <a class="dropdown-item" href="#" title="Decline" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>





