<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Informe Prueba de Entrada</h4>
    </div>
    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="~/Docente/Agregar" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Editar Perfil</a>
    </div>

</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Carga Academica 2019-I</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Carga Academica</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Mensajes</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">

                        <h4 class="card-title">Información Docente</h4>
                        @using (Html.BeginForm("Guardar", "Docente", FormMethod.Post, new { id = "frm-docente", enctype = "multipart/form-data" }))
                        {

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    @Html.Label("Código")
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    @Html.Label("Asignatura")
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    @Html.Label("Código")
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    @Html.Label("Asignatura")
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <div class="col-sm-8 col-9 text-left">
                                                <div class="form-check form-check-inline">
                                                    <a href="~/Docente/Index2" class="btn btn btn-outline-primary btn-rounded" style='width:100px; height:35px'> Cancelar</a>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type="submit" value="Crear" class="btn btn btn-primary btn-rounded" style='width:100px; height:35px' />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }


                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            parte 2
        </div>
        <div class="tab-pane" id="bottom-tab3">
            Parte 3
        </div>
    </div>
</div>




