
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Informe Final </h4>
    </div>
</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">1. Datos Generales</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">2. Graficos</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">3. Capacidades del Curso</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-toggle="tab">4. Observaciones</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">INFORMACION DE CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="ING-101">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Asignatura:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="MATEMATICA I">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Sección:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="A">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Ciclo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="I">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Horas:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="6">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Créditos:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="4">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Tipo Curso:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="Obligatorio">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">DATOS DOCENTE</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="201353">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Nombre:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="Javier Alca">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Email:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="alca@hotmail.com">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Celular:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="995686832">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">RESUMEN DEL CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>  
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Porcentaje</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Porcentaje de cumplimiento del sílabo</td>
                                        <td><input type="text" class="form-control text-center" value="80"></td>
                                        <td class="text-center">80%</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Practicas calificada realizadas</td>
                                        <td><input type="text" class="form-control text-center" value="6"></td>
                                        <td class="text-center">100%</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Experiencias de laboratorio realizadas</td>
                                        <td><input type="text" class="form-control text-center" value="5"></td>
                                        <td class="text-center">100%</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Proyectos y/o trabajos de realizados</td>
                                        <td><input type="text" class="form-control text-center" value="3"></td>
                                        <td class="text-center">100%</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Estudiantes Matriculados</td>
                                        <td><input type="text" readonly class="form-control text-center" value="30"></td>
                                        <td class="text-center">100%</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Estudiantes con retiro</td>
                                        <td><input type="text" class="form-control text-center" value="2"></td>
                                        <td class="text-center">6.7%</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Estudiantes en abandono</td>
                                        <td><input type="text" class="form-control text-center" value="3"></td>
                                        <td class="text-center">10%</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Estudiantes que asisten</td>
                                        <td><input type="text" readonly class="form-control text-center" value="25"></td>
                                        <td class="text-center">83.3%</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Estudiantes Aprobados</td>
                                        <td><input type="text" class="form-control text-center" value="15"></td>
                                        <td class="text-center">50%</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Estudiantes Desaprobados</td>
                                        <td><input type="text" readonly class="form-control text-center" value="10"></td>
                                        <td class="text-center">33.3%</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Nota final mas alta</td>
                                        <td><input type="text" class="form-control text-center" value="18"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Nota final promedio</td>
                                        <td><input type="text" class="form-control text-center" value="14"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>Nota final mas baja</td>
                                        <td><input type="text" class="form-control text-center" value="10"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-rounded" style='width:150px; height:35px' type="submit"><i class="fa fa-refresh"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 1 : ASISTENCIA DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patient Total</h4>
                                            <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                                        </div>
                                        <canvas id="linegraph"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patients In</h4>
                                            <div class="float-right">
                                                <ul class="chat-user-total">
                                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <canvas id="bargraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 2 : RESUMEN GENERAL DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patient Total</h4>
                                            <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                                        </div>
                                        <canvas id="linegraph"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patients In</h4>
                                            <div class="float-right">
                                                <ul class="chat-user-total">
                                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <canvas id="bargraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 3 : RENDIMIENTO DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patient Total</h4>
                                            <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                                        </div>
                                        <canvas id="linegraph"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="chart-title">
                                            <h4>Patients In</h4>
                                            <div class="float-right">
                                                <ul class="chat-user-total">
                                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <canvas id="bargraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">LOGROS DE CAPACIDADES DEL CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12 col-12 text-right m-b-20">
                                <div class="form-check form-check-inline">
                                    <!-- Botón en HTML (lanza el modal en Bootstrap) -->
                                    <a href="#victorModal" role="button" class="btn btn-primary btn-rounded float-right" data-toggle="modal"><i class="fa fa-plus"></i> Nuevo Registro</a>
                                </div>
                            </div>
                        </div>

                        <!-- Modal / Ventana / Overlay en HTML -->
                        <div id="victorModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Capacidad del Curso</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                @Html.Label("Nombre:")
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <strong>@Html.Label("Nivel Alcanzado:")</strong>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Nada
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Poco
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Aceptable
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Bien
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Muy Bien
                                                    </label>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                                        
                                        <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2">Capacidades del curso</th>
                                        <th class="text-center" colspan="5">Nivel Alcanzado</th>
                                        <th rowspan="2" class="text-right">Accción</th>
                                    </tr>                                    
                                    <tr>
                                        <th class="text-center">Nada</th>
                                        <th class="text-center">Poco</th>
                                        <th class="text-center">Aceptable</th>
                                        <th class="text-center">Bien</th>
                                        <th class="text-center">Muy Bien</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nivel alcanzado Nº1</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">X</td>
                                        <td class="text-center"></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nivel alcanzado Nº2</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">X</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br /><br />
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Cuál cree que ha sido el motivo por el cual los estuiantes no alcanzaron el logro de capacidades</strong></label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escriba Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-rounded" style='width:150px; height:35px' type="submit"><i class="fa fa-refresh"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">OBSERVACIONES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                       @* @{Html.RenderAction("AgregarObservaciones", "InformeFinal", new { id1 = 0 }); }*@
                        @{Html.RenderAction("AgregarObservaciones", "InformeFinal"); }




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


