<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table example" id="example">
                <thead>
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Nombre</th>
                        <th class="text-center" colspan="7">Numero de estudiantes por rango de nota (Nivel lcanzado en %)</th>
                        <th rowspan="2" class="text-right">Acción</th>
                    </tr>
                    <tr>
                        <th class="text-center">Deficiente</th>
                        <th class="text-center">%</th>
                        <th class="text-center">Suficiente</th>
                        <th class="text-center">%</th>
                        <th class="text-center">Bueno</th>
                        <th class="text-center">%</th>
                        <th class="text-center">Total</th>
                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>Conocimientos de base de datos</td>
                        <td class="text-center">5</td>
                        <td class="text-center">20.00</td>
                        <td class="text-center">10</td>
                        <td class="text-center">40.00</td>
                        <td class="text-center">10</td>
                        <td class="text-center">40.00</td>
                        <td class="text-center" bgcolor="#43FF52">100%</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    <a class="dropdown-item" href="#" onclick="return confirm('¿Esta seguro que desea de Eliminar?');"><i class="fa fa-trash-o m-r-5"></i>  Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Conocimientos de modelo E/R</td>
                        <td class="text-center">14</td>
                        <td class="text-center">56.00</td>
                        <td class="text-center">11</td>
                        <td class="text-center">44.00</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0.00</td>
                        <td class="text-center" bgcolor="#FF8168">100%</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    <a class="dropdown-item" href="#" onclick="return confirm('¿Esta seguro que desea de Eliminar?');"><i class="fa fa-trash-o m-r-5"></i>  Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="float-right">
            <ul class="chat-user-total">
                <li><button class="btn btn btn-success btn-rounded"></button> Capacidad alcanzada</li>
                <li><button class="btn btn btn-warning btn-rounded"></button> No requiere accion de mejora</li>
                <li><button class="btn btn btn-danger btn-rounded"></button> Requiere accion de mejora</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">GRAFICO -  RESUMEN POR CONOCIMIENTOS Y HABILIDADES</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="chart-title">
                    <h4>Patient Total</h4>
                    <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                </div>
                <canvas id="linegraph"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="chart-title">
                    <h4>Patients In</h4>
                    <div class="float-right">
                        <ul class="chat-user-total">
                            <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                            <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                        </ul>
                    </div>
                </div>
                <canvas id="bargraph"></canvas>
            </div>
        </div>
    </div>
</div>

